@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #ffffff;
  --color-primary-500: #3b82f6; 
  --color-primary-600: #2563eb; 
  --color-border: #27272a;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply antialiased selection:bg-primary-500/30 selection:text-primary-500 scroll-smooth;
  }
}
